<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IUT de Troyes</title>


    {% block stylesheets %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset ('style.css') }}">
    {% endblock %}

    {% block javascripts %}
        <script src="https://kit.fontawesome.com/c610cfb1f1.js" crossorigin="anonymous"></script>
    {% endblock %}
</head>

<body>

<header>
    <a href="{{ path ('iut_test_technique') }}"><img src="{{ asset ('images/logo_iut2.svg') }}" alt="Logo"></a>
    <div class="networks">
        <div>
            <a href="https://www.facebook.com/IUT10/" target="_blank"><i class="fa-brands fa-facebook-f fa-lg"></i></a>
            <a href="https://twitter.com/IutTroyes" target="_blank"><i class="fa-brands fa-twitter fa-lg"></i></a>
            <a href="https://www.instagram.com/iuttroyes/" target="_blank"><i class="fa-brands fa-instagram fa-lg"></i></a>
            <a href="https://www.youtube.com/channel/UCNGH4rCDYJ_XAyXw6j4v9lg" target="_blank"><i class="fa-brands fa-youtube fa-lg"></i></a>
            <a href="https://www.linkedin.com/company/iut-de-troyes/?originalSubdomain=fr" target="_blank"><i class="fa-brands fa-linkedin-in fa-lg"></i></a>
            <a href="https://www.flickr.com/photos/138201145@N07/" target="_blank"><i class="fa-brands fa-flickr fa-lg"></i></a>
        </div>
        <nav>
            <ul class="extralinks">
                <a href="https://intranetv3.iut-troyes.univ-reims.fr/" target="_blank" class="menuitem"><li>Intranet</li></a>
                <a href="https://ebureau.univ-reims.fr/" target="_blank" class="menuitem"><li>Bureau Virtuel</li></a>
                <a href="https://roundcube.univ-reims.fr/" target="_blank" class="menuitem"><li>Messagerie</li></a>
                <a href="http://annuaires.univ-reims.fr/" target="_blank" class="menuitem"><li>Annuaire</li></a>
                <a href="https://www.iut-troyes.univ-reims.fr/biblioth%C3%A8que-link.html" target="_blank" class="menuitem"><li>Bibliothèque</li></a>
            </ul>
        </nav>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <div class="flexnav">
                    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{ path ('iut_test_technique') }}">Accueil</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                L'IUT
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                <li><a class="dropdown-item" href="{{ path ('iut_actu') }}">Actualités</a></li>
                                <li><a class="dropdown-item" href="{{ path ('iut_chiffres') }}">L'IUT en chiffres</a></li>
                                <li><a class="dropdown-item" href="{{ path ('iut_dept') }}">Départements</a></li>
                                <li><a class="dropdown-item" href="{{ path ('iut_organigramme') }}">Organigramme</a></li>
                                <li><a class="dropdown-item" href="#">Revue de presse</a></li>
                                <li><a class="dropdown-item" href="#">Rapport d'activité</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Nous trouver</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Formations
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                <li><a class="dropdown-item" href="#">Domaines d'étude</a></li>
                                <li><a class="dropdown-item" href="#">Modalités de formation</a></li>
                                <li><a class="dropdown-item" href="#">VAE/VAPP</a></li>
                                <li><a class="dropdown-item" href="#">Passeport vers l'étranger</a></li>
                                <li><a class="dropdown-item" href="#">Passeport vers l'université</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                International
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                <li><a class="dropdown-item" href="#">Relations internationales</a></li>
                                <li><a class="dropdown-item" href="#">Etudier à l'étranger</a></li>
                                <li><a class="dropdown-item" href="#">Stages à l'étranger</a></li>
                                <li><a class="dropdown-item" href="#">Travailler à l'étranger</a></li>
                                <li><a class="dropdown-item" href="#">Universités partenaires</a></li>
                                <li><a class="dropdown-item" href="#">Etudiants étrangers</a></li>
                                <li><a class="dropdown-item" href="#">TOEIC</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Entreprises
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                <li><a class="dropdown-item" href="#">Formation aux entreprises</a></li>
                                <li><a class="dropdown-item" href="#">Service emploi</a></li>
                                <li><a class="dropdown-item" href="#">Stages en entreprise</a></li>
                                <li><a class="dropdown-item" href="#">Taxe d'apprentissage</a></li>
                                <li><a class="dropdown-item" href="#">Faire un don à l'IUT</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Recherche
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                <li><a class="dropdown-item" href="#">CRESTIC automatique</a></li>
                                <li><a class="dropdown-item" href="#">CRESTIC images</a></li>
                                <li><a class="dropdown-item" href="#">ITHEMM</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Vie étudiante
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                <li><a class="dropdown-item" href="#">Information et orientation</a></li>
                                <li><a class="dropdown-item" href="#">Démarches en lign</a></li>
                                <li><a class="dropdown-item" href="#">Le service santé</a></li>
                                <li><a class="dropdown-item" href="#">Enquêtes</a></li>
                                <li><a class="dropdown-item" href="#">Les services du Crous</a></li>
                                <li><a class="dropdown-item" href="#">Bibliothèque</a></li>
                                <li><a class="dropdown-item" href="#">Sports</a></li>
                                <li><a class="dropdown-item" href="#">Associations</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">Candidatures</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">
                                Evènements
                            </a>
                        </li>
                    </ul>
                </div>
                <!--
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Recherche" aria-label="Search">
                    <button class="btn btn-outline-warning" type="submit">Explorer</button>
                </form>
                -->
            </div>
        </div>
    </nav>
</header>


{% block body %}
    {# Le contenu de chaque page sera ici #}
{% endblock %}

{% block footer %}
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <a href=""><img src="https://www.iut-troyes.univ-reims.fr/assets/img/URCA_ultimate2.png" alt="logo URCA"></a>
                    <ul class="liens">
                        <li><a href="">Mentions légales</a></li>
                        <li><a href="">Liens utiles</a></li>
                        <li><a href="">FAQ</a></li>
                        <li><a href="">Plan du site</a></li>
                        <li><a href="">Accessibilité</a></li>
                    </ul>
                </div>
                <div class="col-2">
                    <ul>
                        <li class="footer_title">L'IUT de Troyes</li>
                        <li><a href="{{ path ('iut_dept') }}">Départements</a></li>
                        <li><a href="">Formations</a></li>
                        <li><a href="">Entreprises</a></li>
                        <li><a href="">Vie étudiante</a></li>
                        <li><a href="">Evènements</a></li>
                    </ul>
                </div>
                <div class="col-2">
                    <ul>
                        <li class="footer_title">Outils</li>
                        <li><a href="https://intranetv3.iut-troyes.univ-reims.fr/" target="_blank">Intranet</a></li>
                        <li><a href="https://ebureau.univ-reims.fr/" target="_blank">Bureau virtuel</a></li>
                        <li><a href="https://roundcube.univ-reims.fr/" target="_blank">Messagerie</a></li>
                        <li><a href="http://annuaires.univ-reims.fr/" target="_blank">Annuaire</a></li>
                        <li><a href="https://www.iut-troyes.univ-reims.fr/biblioth%C3%A8que-link.html" target="_blank">Bibliothèque</a></li>
                    </ul>
                </div>
                <div class="col-2">
                    <ul>
                        <li class="footer_title"><a href="">Contactez-nous</a></li>
                        <li><a href="https://www.facebook.com/IUT10/" target="_blank"><i class="fa-brands fa-facebook-f fa-lg"></i></a>
                            <a href="https://twitter.com/IutTroyes" target="_blank"><i class="fa-brands fa-twitter fa-lg"></i></a>
                            <a href="https://www.instagram.com/iuttroyes/" target="_blank"><i class="fa-brands fa-instagram fa-lg"></i></a>
                            <a href="https://www.youtube.com/channel/UCNGH4rCDYJ_XAyXw6j4v9lg" target="_blank"><i class="fa-brands fa-youtube fa-lg"></i></a>
                            <a href="https://www.linkedin.com/company/iut-de-troyes/?originalSubdomain=fr" target="_blank"><i class="fa-brands fa-linkedin-in fa-lg"></i></a>
                            <a href="https://www.flickr.com/photos/138201145@N07/" target="_blank"><i class="fa-brands fa-flickr fa-lg"></i></a></li>
                        <li>9 rue de Québec <br>
                            CS 90396 <br>
                            1000 Troyes <br>
                        </li>
                        <li>03 25 42 46 46</li>
                    </ul>
                </div>
                <div class="col-3">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2655.7800270777334!2d4.0787552!3d48.268607599999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47ee990d103f3b05%3A0x3673a756c4366029!2sLogements%2C%209%20Rue%20Quebec%2C%2010430%20Rosi%C3%A8res-pr%C3%A9s-Troyes!5e0!3m2!1sfr!2sfr!4v1654352856967!5m2!1sfr!2sfr"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
{% endblock %}

</body>
</html>


