{% extends 'base.html.twig' %}

{% block body %}
    <nav class="breadcrumbnav" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/IUT/accueil">Accueil</a></li>
            <li class="breadcrumb-item"><a href="#">L'IUT</a></li>
            <li class="breadcrumb-item active" aria-current="page">Départements</li>
        </ol>
    </nav>

    <div class="container">
        <div class="row col-12 deptstitle">
            <h1>Départements</h1>
            <h4>L’IUT de Troyes compte aujourd’hui 6 départements et 1 service de formation continue et alternance.</h4>
        </div>
    </div>

        <section class="container col-12 depts">
            {% for key in depts %}
                <div class="card col-3">
                    <img src="{{ key.logo }}" alt="Oups" style="border-bottom: solid {{ key.couleur }}">
                    <div class="card-body">
                        <h5 class="card-text">{{ key.nom }} | <strong style="color: {{ key.couleur }}">{{ key.sigle }}</strong></h5>
                        <p class="card-text">{{ key.presentation }}</p>
                        <button type="button" class="btn btn-warning">Découvrir</button>
                        <hr>
                        <div class="card-text deptsinfos">
                            <p>Responsable : <strong>{{ key.responsable }}</strong></p>
                            <p>{{ key.mail_responsable }}</p>
                            <p>{{ key.tel_responsable }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </section>

{% endblock %}