{% extends 'base.html.twig' %}

{% block body %}

    <nav class="breadcrumbnav" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path ('iut_test_technique') }}">Accueil</a></li>
            <li class="breadcrumb-item"><a href="#">L'IUT</a></li>
            <li class="breadcrumb-item active" aria-current="page">Départements</li>
        </ol>
    </nav>

    <div class="container-fluid">
        <div class="row col-12 deptstitle">
            <h1>Départements</h1>
            <h2>L’IUT de Troyes compte aujourd’hui 6 départements et 1 service de formation continue et alternance.</h2>
        </div>
    </div>

    <section class="container-fluid col-12 depts">
        <article>
        <!-- lecture du tableau et itérations -->
        {% for key in depts %}
            <div style="border-left: solid {{ key.couleur }}; padding-left: 30px; margin: 50px 0">
                <div class="depts_title">
                    <img src="{{ key.logo }}" alt="Oups">
                    <h3>{{ key.nom }} | <strong style="color: {{ key.couleur }}">{{ key.sigle }}</strong></h3>
                </div>
                <div class="descript_flex">
                    <p>{{ key.presentation }}</p>
                    <a href="{{ key.lien_page_description }}"><button type="button" class="btn btn-warning">Découvrir</button></a>
                </div>
                <hr>
            </div>
        {% endfor %}
        </article>
    </section>

{% endblock %}